{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>COMP90024_Group27</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/main_page.css' %}" />
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" type="text/css" href="{% static '/css/layout_style.css' %}"/>
  
</head>

<body>
<section id="section06" class="demo">
  <h1>How do Australian people feel?</h1>
  <a href="#new_section"><span></span>Scroll</a>
</section>
<div id="new_section" class="cont s--inactive">
    <!-- cont inner start -->
    <div class="cont__inner">
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">Scenario 1</h2>
            </div>
            <div class="el__content">
              <div class="el__text">Sentiment Analysis Between Cities</div>
{#              <div class="el__text_content">What feeling do Australian people intend to express on social media?<br> Are they as happy as we expected?</div>#}
              <div class="el__text_content">What feelings do Australian people intend to express on social media
                <br> Are they as happy as we expected?</br>
              <br>In order to quantified this, we pick 5 cities to analyse their sentiment scores. Meanwhile,
                Melbourne, Canberra, Sydney, Perth and Brisbane, are most likely to have vivid tweeter user around Australia.
              <br>The data came from Tweeter, collected in latest week</div>
                <a class="el__link" target="_blank" href="./cities">show me</a>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">1</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="1">1</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">Scenario 2</h2>
            </div>
            <div class="el__content">
              <div class="el__text">"Why don't you feel happy?"</div>
{#
                <div class="el__text_content">There're several artifacts which might influence how people feel</div>#}
              <div class="el__text_content">Now we've seen different cities have different sentiment scores.
                <br>And this may vary greatly...</br>
                <br>There're several artifacts which might influence how people feel. We generally suppose this might related
                with unemployment rate, public transport or education level, but are they?
                <br>-Data comes from <b>AURIN</b>.</div>
                <a class="el__link" target="_blank" href="./map_aurin">show map</a>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">2</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="2">2</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">Scenario 3</h2>
            </div>
            <div class="el__content">
              <div class="el__text">How do you feel?</div>
{#              <div class="el__text_content">Let begin to focus on one person</div>#}
              <div class="el__text_content"><br>Rather than focusing on a group of people, we intend to give an in-depth
                investigation at one user.<br/>
              <br>What does he/she interested in? Which topic does he/she most likely to discuss on social media? We
                calculated several topics this user mentioned frequently. </div>
                <a class="el__link" target="_blank" href="./twitter_user">show me</a>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">3</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="3">3</div>
          </div>
        </div>
      </div>
      <!-- el end -->
      <!-- el start -->
      <div class="el">
        <div class="el__overflow">
          <div class="el__inner">
            <div class="el__bg"></div>
            <div class="el__preview-cont">
              <h2 class="el__heading">Scenario 4</h2>
            </div>
            <div class="el__content">
              <div class="el__text">User Portrait</div>
                <div class="el__text_content"><br>Social media is a commonly used platform to share personal life and thoughts, meanwhile,
                it also records details about user behavior.</br>
                <br>On the basis of scenario 3, combine with time and location information, we can generate a new user portrait
                to analysis target user.
              </div>
                <a class="el__link" target="_blank" href="./map_aurin">show me</a>
              <div class="el__close-btn"></div>
            </div>
          </div>
        </div>
        <div class="el__index">
          <div class="el__index-back">4</div>
          <div class="el__index-front">
            <div class="el__index-overlay" data-index="4">4</div>
          </div>
        </div>
      </div>
    </div>
    <!-- cont inner end -->
  </div>


  <a href="https://twitter.com" target="_blank" class="icon-link icon-link--twitter">
    <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/twitter-128.png">
  </a>



  <script src="{% static 'js/main_page.js' %}"></script>


<section id="thanks">
 <div>
   <h2>Thanks!</h2>
   <p><b>COMP90024</b></p>
   <p><b>Yichi Zhang</b> - yichiz12@student.unimelb.edu.au
     <br><b>Weiliang Zhou</b> - weiliangz@student.unimelb.edu.au
     <br><b>Yunxue Hu</b> - y.hu65@student.unimelb.edu.au
     <br><b>Ruobing Leng</b> - lengr@student.unimelb.edu.au
     <br><b>Yanbo Liao</b> - yliao3@student.unimelb.edu.au</p>
 </div>
</section>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script   src="{% static 'js/layout.js' %}"></script>




</body>

</html>
