{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitter User</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <link rel="stylesheet" type="text/css"  href="{% static '/css/s3_main.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/css/s3_style.css' %}"/>
        <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css' />
		<noscript>
			<link rel="stylesheet" type="text/css"  href="{% static '/s3_noscript.css' %}"/>
		</noscript>
		<script type="text/javascript"  src="{% static 'js/modernizr.custom.72835.js' %}"></script>
		<style>
			#circle{
				background: #357a9b url(https://pbs.twimg.com/profile_images/671081098630172672/_z0VwQOF_400x400.jpg) no-repeat center center;
				background-size: cover;

			}
            body{
                background: url("{% static 'img/3.jpg' %}");
                background-size:cover;
            }
		</style>
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
				<!-- If browser does not support border radius, show this message -->
				<p class="message">Your browser does not support the border-radius property!</p>
				<div class="section">
					<div class="normal-trigger-area">
						<a href="#" id="circle" class="ec-circle">
							<h3>User</h3>
						</a>
					</div>
					<div class="content">
						<h1>Karen Carpenter</h1>
						<p>following:261</p>
						<p>followers:112</p>
						<img src="{% static 'img/twitter_logo.png' %}" width=50px height=50px>
						<p><a href="https://twitter.com/ladgygaymatisse">Twitter Link</a></p>
					</div>
				</div>
            </div>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/jquery.circlemouse.js' %}"></script>
        <script type="text/javascript">
            $(function() {
				
				$('#circle').circlemouse({
					onMouseEnter	: function( el ) {
					
						el.addClass('ec-circle-hover');
					
					},
					onMouseLeave	: function( el ) {
						
						el.removeClass('ec-circle-hover');
						
					},
					onClick			: function( el ) {

                        document.location.href = './words';
						
					}
				});
				
			});
        </script>
    </body>
</html>