{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <script src='https://cdn.bootcss.com/echarts/3.7.0/echarts.simple.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="{% static 'js/echarts-wordcloud.js' %}"></script>
    </head>
    <body>
        <style>
            html, body, #main {
                width: 100%;
                height: 100%;
                margin: 0;
            }
        </style>
        <div id='main'></div>
        <script>

            $(function() {
                $.ajax({
                    type: 'GET',
                    async: true,
                    traditional: true,
                    url: './',
                    dataType: 'json',
                    data: {
                        'sentiment': true
                    },
                    success: function(data) {
                        var WordsWithWeight = data['WordsWithWeight'];
                        var data_extract=[{
                            name: 'Words of Interest',
                            value: 16000,
                            textStyle: {
                                normal: {
                                    color: 'black'
                                },
                                emphasis: {
                                    color: 'red'
                                }
                            }
                        }];
            for(var i=0;i<WordsWithWeight.length;i++){
                data_extract.push({name:WordsWithWeight[i][0], value: WordsWithWeight[i][1]});
                var x = 1;
            }
            var chart = echarts.init(document.getElementById('main'));

            var option = {

                series: [
                    {
                    type: 'wordCloud',
                    gridSize: 2,
                    sizeRange: [24, 70],
                    rotationRange: [-90, 90],
                    shape: 'pentagon',
                    width: 1000,
                    height: 700,
                    drawOutOfBound: true,
                    textStyle: {
                        normal: {
                            color: function () {
                                return 'rgb(' + [
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160),
                                    Math.round(Math.random() * 160)
                                ].join(',') + ')';
                            }
                        },
                        emphasis: {
                            shadowBlur: 10,
                            shadowColor: '#333'
                        }
                    },
                    data: data_extract,
                        tooltip: {}
                }
                ]
            };

            chart.setOption(option);

            chart.on('mousemove', function(para) {
                        alert(para['dataIndex']);

                    });

            window.onresize = chart.resize;

                    },
                    error: function() {
                        alert('error');
                    }

            });
            });

{#            #}

        </script>
    </body>
</html>